<table class = "table">
  <thead>
    <tr>
      <th>
        <p>職業一覧</p>
      </th>
    </tr>
  </thead>  
  <tbody>
    <% @professions.each do |profession| %>
      <tr>
        <td>
          <%= link_to profession_path(profession) do %> 
          <%= profession.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
