<div class="container">
  <div class= "top_image">
    <a class="top_text"></a>
  </div>
  <div class="col-md-12 row">
    <div class="col-md-8">
      <%= render "/layouts/search" %>
      <%= render "/layouts/questions",questions: @questions %>
    </div>
    <div class="col-md-4">
      <%= render "/layouts/professions",professions: @professions %>
    </div>
  </div>
</div>