<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>質問一覧</h3>
    </div>
    <div class="col-md-6">
      <%= render "layouts/search" %>
    </div>
  </div>
  </br>
  <% @questions.each do |question| %>
    <div class="row border">
      <div class="col-md-2">
        <%= question.profession.name %>
      </div>
      <div class="col-md-8">
        <%= link_to question.post,admin_question_path(question) %>
      </div>
      <div class="col-md-2">
        <%= link_to "Destroy", admin_question_path(question), method: :delete, remote: true, class: "btn btn-sm btn-danger" %>
      </div>
    </div>
  <%end%>
</div>