<h1>Public::Customer#show</h1>
<p>Find me in app/views/public/customer/show.html.erb</p>
  <% @customers.each do |customer| %>
    <%= customer.nickname %>
    <%= customer.gender %>
    <%= customer.email %>
    <% if customer.is_deleted == false %>
      <span class="text-success">有効</span>
    <% else %>
      <span class=text-secondary>退会</span>
    <% end %>
  
  <% end %>
