
<div class="search_form">
  <div class="search_form">
    <% if admin_signed_in? %>
      <%= form_with url: admin_customer_search_path, local: true, method: :get do |f| %>
        <%= f.text_field :word ,placeholder:"会員を検索する",class: "form-control" %>
        <%= f.submit "検索", class: "btn btn-sm btn-outline-dark" %>
      <% end %>
    <% end %>
  </div>
</div>
