<div class="search_form">
  <div class="search_form">
    <% if admin_signed_in? %>
      <%= form_with url: admin_customer_search_path, local: true, method: :get do |f| %>
        <div class="row">
          <div class="col-md-10">
            <%= f.text_field :word ,placeholder:"登録名またはメールアドレス",class: "form-control" %>
          </div>
          <div class="col-md-2">
            <%= f.submit "検索", class: "btn btn-sm btn-outline-dark" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
